* {
    all: unset;
}

.river-bar {
    font-family: "Hack Nerd Font";
	padding: 2px 0px 2px 10px;
    background: #202020;
}

.tag-indicator-box {
	border: 2px solid #d2c26a;
	padding: 15px 4px 10px 10px;
    background: #202020;
}

.river-bar-vertical {
    font-family: "Hack Nerd Font";
}
.tag-inactive {
    font-size: 18px;
    margin-right: 10px;
    color: #94C255;
}

.tag-active{
    font-size: 12px;
    margin-right: 10px;
    color: #E78A4E;
}


.apps-box {
	padding: 10px 10px 10px 5px;
	border-top: 2px solid #d2c26a;
	border-left: 2px solid #d2c26a;
	border-right: 2px solid #d2c26a;
	background-color: #202020;
}

.firefox-running {
    font-size: 18px;
    color: #FD4C39;
}

.firefox-running {
    font-size: 18px;
    color: #FD4C39;
}
.firefox-not-running {
    font-size: 18px;
    color: #8a9b94;
}
.discord-running {
    font-size: 18px;
    color: #5764F1;
}

.discord-not-running {
    font-size: 18px;
    color: #8a9b94;
}

.thunar {
    font-size: 18px;
    color: #a4ddf4;
}
.title-text {
	all: unset;
    //margin-right: 10px;
	font-weight: bold;
	font-size: 12px;
	padding: 2px 3px;
	//background: #303030;
	color: #fc7216;
	//border: 1px solid #D2C26A;
	//border-radius: 8px;
}

.daily-date {
    color: #303030;
	padding: 5px;
	background-color: #779414;
	font-size: 12px;
}

.zypper-box {
	color: #81c13b;
	font-size: 28px;
	font-family: "Font Awesome 5 Brands Regular";
	padding-right: 2px;
}

.spotify-text {
	color: #1DB954;
	font-size: 12px;
	font-family: "Hack Nerd Font";
	//padding-right: 250px;
}

.volume-box {
	color: #acce31;
	padding: 0px;
	font-size: 12px;
	font-family: "Font Awesome 5 Brands Regular";
}
.network-text {
	color:  #708ff4;
	font-family: "Font Awesome 5 Brands Regular";
	font-size: 14px;
}

.brightness {
	color: #e8de5c;
	font-family: "Font Awesome 5 Brands Regular";
	font-size: 12px;
}

.metric scale trough highlight {
  all: unset;
  background-color: #edece1;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 60px;
}
.metric scale trough highlight {
  all: unset;
  background-color: #edece1;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 60px;
  margin-left: 3px;
}

.ram {
 	color: #e2a936;
	font-family: "Font Awesome 5 Brands Regular";
	font-size: 16px;
}

.storage {
	color: #d55ce8;
	font-family: "Font Awesome 5 Brands Regular";
	font-size: 16px;
}

.battery {
	color: #53c12e;
	font-family: "Font Awesome 5 Brands Regular";
	font-size: 12px;
}

.cpu {
	color: #ba9377;
	font-size: 16px;
	font-family: "Font Awesome 5 Brands Regular";
}
